vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|08 Apr 2011 05:51:29 -0000
vti_author:SR|ravenalla\\ken
vti_modifiedby:SR|Banyan\\Ken
vti_nexttolasttimemodified:TW|08 Apr 2011 01:17:40 -0000
vti_timecreated:TR|31 Mar 2011 19:40:28 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|projects/index.html projects/hydrodiff.html about.html projects/prr.html projects/rapidaaviewer.html index.html projects/hydrogradient.html
vti_syncofs_localhost\\c\:\\users\\ken\\documents\\my dropbox\\web/c\:/users/ken/documents/my dropbox/web:TX|29 Mar 2011 06:23:58 -0000
vti_syncwith_localhost\\c\:\\users\\ken\\documents\\my dropbox\\web/c\:/users/ken/documents/my dropbox/web:TW|31 Mar 2011 19:40:28 -0000
vti_cacheddtm:TX|08 Apr 2011 05:51:29 -0000
vti_filesize:IR|3941
