vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|07 Apr 2011 03:59:04 -0000
vti_author:SR|ravenalla\\ken
vti_modifiedby:SR|ravenalla\\ken
vti_nexttolasttimemodified:TW|07 Apr 2011 03:59:04 -0000
vti_timecreated:TR|31 Mar 2011 19:40:28 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|projects/index.html index.html
vti_syncofs_localhost\\c\:\\users\\ken\\documents\\my dropbox\\web/c\:/users/ken/documents/my dropbox/web:TX|29 Mar 2011 06:23:58 -0000
vti_syncwith_localhost\\c\:\\users\\ken\\documents\\my dropbox\\web/c\:/users/ken/documents/my dropbox/web:TW|31 Mar 2011 19:40:28 -0000
vti_cacheddtm:TX|07 Apr 2011 03:59:04 -0000
vti_filesize:IR|3833
